*,
html,
body{
    margin: 0;
    padding: 0;
}
body,span{
    font-family: "iconfont";
}
#app,
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a{
    color:black;
}
.content-collapse{
    left: 70px;
 } 

.fillHeight{
    height: 100%;
}
.pointer{
    cursor: pointer;
}
.pointer-red,.pointer-primaryBlue{
    cursor: pointer;
}
.pointer-red:hover{
    color:red;
}
.pointer-primaryBlue:hover{
    color:#66B1FF;
}
.font18px{
    font-size: 18px;
}
.font20px{
    font-size: 20px;
}
.font25px{
    font-size: 25px;
}
.font30px{
    font-size: 30px;
}